<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.michael.words" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
	<uses-permission android:name="android.permission.INJECT_EVENTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application 
		android:sharedUserId="android.uid.system"
		android:allowBackup="true" 
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" 
		android:theme="@style/AppTheme" >
		<activity 
			android:name="com.michael.words.EditActivity"
			android:windowSoftInputMode="adjustResize" 
			android:screenOrientation="landscape"
			android:label="@string/app_name" >
		</activity>
		
		<activity 
			android:name="com.michael.words.SogouEditActivity"
			android:windowSoftInputMode="adjustPan"
			android:screenOrientation="landscape"
			android:label="@string/app_name" >
		</activity>
		
		<activity 
			android:name="com.michael.words.SplashActivity"
			android:label="@string/app_name"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity 
			android:name="com.michael.words.HandleLastRunActivity"	
			android:label="@string/app_name"
			android:screenOrientation="landscape" >
		</activity>
		
		<activity 
			android:name="com.michael.words.ConfigActivity"	
			android:label="@string/app_name"
			android:screenOrientation="landscape" >
		</activity>
		
	</application>

</manifest>